doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

    include ./navbar.pug
    div
    label(style="margin-right : 15px;") email:
    input(
    id='email'
  type='text'
  placeholder='your Email'
    required='required'
    style="margin-right : 15px;"
)
a(class='button', href='/') Send
